$color-primary: #243640;
$color-secondary: #23807a;
$color-tertiary: #ebf4f7;
$color-danger: #992916;
$color-light: #fff;
$color-border: rgb(212, 212, 212);

$unit: 8px;
$unit-half: $unit / 2;
$unit-2: $unit * 2;
$unit-3: $unit * 3;
$unit-4: $unit * 4;
$unit-5: $unit * 5;
$unit-6: $unit * 6;

$breakpoint: 800px;
